*, ol, ul, h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}

html,body {
    height: 100%;
    overflow: hidden;
    background: #fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    // font-family: 'Microsoft YaHei,微软雅黑,STXihei,华文细黑,serif';
    // font-size: 14px;
    // color: #989898;
    -webkit-font-smoothing: antialiased !important;
}

[ui-view] {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
h3, .h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4, .h4 {
    font-size: 16px;
    margin: 10px 0;
}

a {
    color: #123;
    img {
        border: none;
    }
    &:hover {
        color: #2EA9DF;
        text-decoration: none;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.inb {
    display: inline-block;
}

.overdot {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ref {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 25%;
}

.nopadding {
    padding: 0;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px;
}
.btn-sm, .btn-icon.btn-sm {
    font-size: 9px;
    line-height: 1.5;
}
.btn-mint, .btn-mint:focus, .btn-hover-mint:hover, 
.btn-hover-mint:active, .btn-hover-mint.active, 
.btn.btn-active-mint:active, .btn.btn-active-mint.active, 
.dropdown.open>.btn.btn-active-mint, .btn-group.open 
.dropdown-toggle.btn.btn-active-mint {
    background-color: #3acaa1;
    border-color: #42cca5;
    color: #fff;
}
.btn-mint:hover, .btn-mint:active, .btn-mint.active, 
.open>.dropdown-toggle.btn-mint {
    background-color: #30b28e;
    border-color: #32b992;
    color: #fff;
}
.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, 
.btn-hover-primary:active, .btn-hover-primary.active, 
.btn.btn-active-primary:active, .btn.btn-active-primary.active, 
.dropdown.open>.btn.btn-active-primary, .btn-group.open 
.dropdown-toggle.btn.btn-active-primary {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    background-color: #3b8dd5;
    border-color: #4291d7;
    color: #fff;
}
button, button:focus {
    outline: 0 !important;
}
.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.icon-vip {
    width: 20px;
    height: 20px;
    background: url('/static/images/v-role.png') no-repeat;
}