bower_components
build
node_modules

app/vendor
app/.*.ts

npm-debug.log
.idea
.tscache
tscommand*

app/static/images/user/avatars/*
!/app/static/images/user/avatars/default

app/static/images/user/views/*
!/app/static/images/user/views/default