.index {
    .title {
        color: #000;
        margin-bottom: 15px;
        font-size: 34px;
        font-weight: bold;
        font-family: 'Arial';
        .sub-title {
            margin-top: 5px;
            margin-left: 75px;
            font-size: 14px;
            font-weight: normal;
        }
    }
}